{
  "extends": ["react-app", "airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "error",
    "react-hooks/exhaustive-deps": "off", // Turned off because using setters as dependencies are creating infinite loops
    "import/no-unresolved": ["off", { "ignore": [".css$"] }],
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "array-callback-return": "off",
    "consistent-return": "off",
    "no-console": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-associated-control": "off" // For some reason it's marking this as an error, even if nothing changed from the last commit and it's compliant with the rule
  }
}
